@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 2em;
  margin: 0 auto;
  font-family: "Open Sans";
}
@media (min-width: 1024px) {
  .container {
    max-width: 1352px;
  }
}

.nav {
  padding: 1em 0;
  position: absolute;
  top: 2.7em;
  left: 0;
  box-shadow: 0px 0.1875em 0.375em rgba(0, 0, 0, 0.1607843137);
  padding: 1.5em 0 1.5em 2em;
  padding-left: 2em;
  width: 100%;
  max-width: 100vw;
  display: none;
  background-color: #ffffff;
}
@media (min-width: 1024px) {
  .nav {
    display: block;
    width: 40%;
    position: static;
    box-shadow: none;
  }
}
@media (min-width: 1024px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
}
.nav__item {
  margin-top: 0.6em;
}
.nav__item:first-child {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .nav__item {
    margin: 0;
  }
}
.nav__item-link {
  font-size: 11px;
  color: #a5a5a5;
  font-weight: bold;
  letter-spacing: 0.28em;
}
.nav__item-link:hover {
  color: #000000;
}
@media (min-width: 1024px) {
  .nav__item-link:hover {
    border-bottom: 0.36em solid #08a6e4;
    padding-bottom: 2.18em;
  }
}
.nav--visible {
  display: block;
}

.toggle {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.toggle__item {
  height: 3px;
  border-radius: 2px;
  width: 100%;
  background-color: #07ace6;
}
.toggle__item-closed {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
.toggle__item-closed:first-of-type {
  transform: rotate(45deg);
}
.toggle__item-closed:nth-of-type(2) {
  opacity: 0;
}
.toggle__item-closed:last-of-type {
  transform: rotate(-45deg);
}
@media (min-width: 1024px) {
  .toggle {
    display: none;
  }
}

.btn {
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  border-radius: 2.5em;
  color: #ffffff;
}
.btn--big {
  padding: 1.375em 4em;
}
@media (min-width: 1024px) {
  .btn--big {
    padding: 1.375em 9.81em;
  }
}
.btn--blue {
  background-color: #08a6e4;
}

.main-title {
  font-family: "Raleway";
  font-weight: 400;
}

.header {
  width: 100%;
  box-shadow: 0px 0.1875em 0.375em rgba(0, 0, 0, 0.1607843137);
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  font-family: "Raleway";
  font-weight: lighter;
  color: #08a6e4;
}

.open-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6.25em;
}
.open-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.open-section__header {
  font-size: 35px;
  font-family: "Raleway";
  font-weight: 400;
}
@media (min-width: 1024px) {
  .open-section__header {
    font-size: 49px;
  }
}
.open-section__paragraph {
  padding: 1.25em 0 1.75em 0;
  line-height: 1.375em;
  width: 300px;
  text-align: center;
}
@media (min-width: 1024px) {
  .open-section__paragraph {
    width: 100%;
  }
}
.open-section__img {
  height: 267px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .open-section__img {
    max-width: 100vw;
    height: auto;
  }
}

.statistics {
  font-family: "Raleway";
  text-align: center;
  padding: 2.825em 0;
}
.statistics__header {
  font-size: 30px;
}
@media (min-width: 1024px) {
  .statistics__header {
    font-size: 36px;
  }
}
.statistics__elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .statistics__elements {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.statistics__item {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 176px;
}
.statistics__img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.statistics__img--pink {
  background-color: #fb3b64;
}
.statistics__img--blue {
  background-color: #08a6e4;
}
.statistics__img--green {
  background-color: #55dfb4;
}
.statistics__img::before {
  width: 52px;
  height: 42px;
  position: absolute;
}
.statistics__img--men::before {
  content: url("/assets//Person.svg");
  top: 0;
  right: 20px;
}
.statistics__img--eye::before {
  content: url("/assets/Eye.svg");
  top: 12.5px;
  right: 50px;
}
.statistics__img--catalog::before {
  content: url("/assets/Catalog.svg");
  top: 5px;
}
.statistics__number {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.2485em;
  font-weight: 800;
  margin: 0.4em 0 0.6em 0;
}
.statistics__text {
  font-size: 17px;
  line-height: 1.17em;
  color: #a5a5a5;
  padding: 0 1.25em;
}
/*# sourceMappingURL=main.css.map */
