$color-white: #ffffff;
$color-dirty-white: #f7f7f7;
$color-light-grey: #e8e9ed;
$color-medium-light-grey: #00000029;
$color-medium-grey: #a5a5a5;
$color-medium-dark-grey: #95989a;
$color-dark-grey: #707070;

$color-black: #000000;
$color-graphite: #13253b;

$color-light-blue: #07ace629;
$color-blue: #08a6e4;
$color-medium-dark-blue: #07ace6;

$color-light-pink: #ff091129;
$color-dirty-light-pink: #f9043629;
$color-pink: #fb3b64;
$color-dirty-pink: #eb476e;

$color-green: #55dfb4;
