.toggle {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  &__item {
    height: 3px;
    border-radius: 2px;
    width: 100%;
    background-color: $color-medium-dark-blue;
    &-closed {
      position: absolute;
      transition: transform 0.3s ease-in-out;

      &:first-of-type {
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
